@font-face {
  font-family: "Inconsolata";
  src: url("https://ggayane.github.io/css-experiments/Inconsolata-VF.ttf");
  font-weight: 275 900;
  font-stretch: 50% 200%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000119;
  color: white;
  font-size: 8em;
  font-family: "Inconsolata";
}

main {
  white-space: nowrap;
  width: 80vw;
  margin: auto;
}

.static {
  font-size: 3vw;
  font-variation-settings: "wght" 900, "wdth" 200;
}

.variable {
  display: flex;
  font-variation-settings: "wght" 275, "wdth" 50;
  text-align: center;
}

.work,
.life,
.study {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 100px;
  margin-bottom: 50px;
}

.work {
  animation: swapthings2 3s infinite both cubic-bezier(0.17, 0.04, 0.04, 0.99);
  background-image: url("img/71exEZJrhxL._AC_UF894\,1000_QL80_.jpg");
}

.study {
  animation: swapthings2 3s infinite both cubic-bezier(0.17, 0.04, 0.04, 0.99);
  background-image: url("img/71exEZJrhxL._AC_UF894\,1000_QL80_.jpg");
}

.life {
  animation: swapthings 3s infinite both cubic-bezier(0.17, 0.04, 0.04, 0.99);
  background-image: url("img/51kCp9M6znL.jpg");
}

@keyframes swapthings {
  0% {
    font-variation-settings: "wdth" 50;
    transform: scaleX(1);
  }

  50% {
    font-variation-settings: "wdth" 200;
    transform: scaleX(0.5);
  }

  100% {
    font-variation-settings: "wdth" 50;
    transform: scaleX(1);
  }
}

@keyframes swapthings2 {
  0% {
    font-variation-settings: "wdth" 50;
    transform: scaleX(0.5);
  }

  50% {
    font-variation-settings: "wdth" 200;
    transform: scaleX(1);
  }

  100% {
    font-variation-settings: "wdth" 50;
    transform: scaleX(0.5);
  }
}
